<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yamlgameswap.back.mapper.space.SpaceMapper">
    <resultMap type="com.yamlgameswap.back.entity.space.space.SpaceEntity" id="SpaceEntity">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="intro" column="intro"/>
        <result property="twitter" column="twitter"/>
        <result property="telegram" column="telegram"/>
        <result property="discord" column="discord"/>
        <result property="website" column="website"/>
        <result property="tokenName" column="tokenName"/>
        <result property="tokenContract" column="tokenContract"/>
        <result property="spaceToken" column="spaceToken"/>
    </resultMap>

    <select id="getCount" resultType="int">
        select count(*) from space;
    </select>

    <select id="getSpaces" resultMap="SpaceEntity">
        select * from space limit #{offset},#{limit}
    </select>

    <select id="getSpaceDetail" resultMap="SpaceEntity">
        select * from space where spaceToken = #{spaceToken}
    </select>

</mapper>