<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yamlgameswap.back.mapper.book.BookFollowMapper">
    <resultMap type="com.yamlgameswap.back.entity.book.follow.BookFollowEntity" id="BookFollowEntity">
        <result property="id" column="id"/>
    </resultMap>

    <select id="getBookFollow" resultType="int">
        select count(*) from

        BookFollow

        where bookToken = #{bookToken}

    </select>

</mapper>